@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lazer weight (100) */
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Lazer.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Lazer-Oblique.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik Rotalic';
  src: url('/fonts/GT-Haptik/GT-Haptik-Lazer-Rotalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Thin weight (200) */
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Thin-Oblique.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik Rotalic';
  src: url('/fonts/GT-Haptik/GT-Haptik-Thin-Rotalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light weight (300) */
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Light-Oblique.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik Rotalic';
  src: url('/fonts/GT-Haptik/GT-Haptik-Light-Rotalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular weight (400) */
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Regular-Oblique.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik Rotalic';
  src: url('/fonts/GT-Haptik/GT-Haptik-Regular-Rotalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium weight (500) */
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Medium-Oblique.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik Rotalic';
  src: url('/fonts/GT-Haptik/GT-Haptik-Medium-Rotalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold weight (700) */
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Bold-Oblique.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik Rotalic';
  src: url('/fonts/GT-Haptik/GT-Haptik-Bold-Rotalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Black weight (900) */
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT-Haptik/GT-Haptik-Black-Oblique.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT Haptik Rotalic';
  src: url('/fonts/GT-Haptik/GT-Haptik-Black-Rotalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@layer base {
  :root {
    /* Colors */
    --primary: 224 166 166;
    --secondary: 35 71 186;
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);

    --sl-color-primary-50: color-mix(
      in srgb,
      rgb(var(--secondary)) 0%,
      var(--white)
    );
    --sl-color-primary-100: color-mix(
      in srgb,
      rgb(var(--secondary)) 20%,
      var(--white)
    );
    --sl-color-primary-200: color-mix(
      in srgb,
      rgb(var(--secondary)) 40%,
      var(--white)
    );
    --sl-color-primary-300: color-mix(
      in srgb,
      rgb(var(--secondary)) 60%,
      var(--white)
    );
    --sl-color-primary-400: color-mix(
      in srgb,
      rgb(var(--secondary)) 80%,
      var(--white)
    );
    --sl-color-primary-500: color-mix(
      in srgb,
      rgb(var(--secondary)) 100%,
      var(--black)
    );
    --sl-color-primary-600: color-mix(
      in srgb,
      rgb(var(--secondary)) 60%,
      var(--black)
    );
    --sl-color-primary-700: color-mix(
      in srgb,
      rgb(var(--secondary)) 40%,
      var(--black)
    );
    --sl-color-primary-800: color-mix(
      in srgb,
      rgb(var(--secondary)) 20%,
      var(--black)
    );
    --sl-color-primary-900: color-mix(
      in srgb,
      rgb(var(--secondary)) 10%,
      var(--black)
    );
    --sl-color-primary-950: color-mix(
      in srgb,
      rgb(var(--secondary)) 0%,
      var(--black)
    );

    /* Fonts */
    --font-family-sans: -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Helvetica, Arial, sans-serif, ‘Apple Color Emoji’, ‘Segoe UI Emoji’, ‘Segoe UI Symbol’;
    --font-family-gt-haptik: 'GT Haptik', var(--font-family-sans);
    --font-family-gt-haptik-rotalic: 'GT Haptik Rotalic', var(--font-family-sans);

    --sl-font-sans: var(--font-family-gt-haptik);
  }
}

@layer components {
  .content {
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(80ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];
  }

  .content > * {
    grid-column: content;
  }
  .popout {
    grid-column: popout;
  }
  .feature {
    grid-column: feature;
  }
  .full {
    grid-column: full;
  }

  .link {
    border-bottom: 2px solid rgb(var(--secondary));
  }

  .link.active {
    color: rgb(var(--secondary));
  }

  .tag-link::part(base) {
    background: var(--sl-color-primary-50);
  }
  .tag-link::part(base):hover {
    background: var(--sl-color-primary-100);
  }

  [data-puck-component] .puck-rich-text-editor-wrapper * {
    pointer-events: auto;
  }

  .Puck,
  .Puck > div:not(#puck-portal-root) {
    height: 100%;
  }

  .inline-locale-selector::part(label) {
    padding-inline-start: var(--sl-spacing-2x-small);
    padding-inline-end: var(--sl-spacing-2x-small);
  }
}
