@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --primary: 224 166 166;
    --secondary: 35 71 186;
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);

    --sl-color-primary-50: color-mix(
      in srgb,
      rgb(var(--secondary)) 0%,
      var(--white)
    );
    --sl-color-primary-100: color-mix(
      in srgb,
      rgb(var(--secondary)) 20%,
      var(--white)
    );
    --sl-color-primary-200: color-mix(
      in srgb,
      rgb(var(--secondary)) 40%,
      var(--white)
    );
    --sl-color-primary-300: color-mix(
      in srgb,
      rgb(var(--secondary)) 60%,
      var(--white)
    );
    --sl-color-primary-400: color-mix(
      in srgb,
      rgb(var(--secondary)) 80%,
      var(--white)
    );
    --sl-color-primary-500: color-mix(
      in srgb,
      rgb(var(--secondary)) 100%,
      var(--black)
    );
    --sl-color-primary-600: color-mix(
      in srgb,
      rgb(var(--secondary)) 60%,
      var(--black)
    );
    --sl-color-primary-700: color-mix(
      in srgb,
      rgb(var(--secondary)) 40%,
      var(--black)
    );
    --sl-color-primary-800: color-mix(
      in srgb,
      rgb(var(--secondary)) 20%,
      var(--black)
    );
    --sl-color-primary-900: color-mix(
      in srgb,
      rgb(var(--secondary)) 10%,
      var(--black)
    );
    --sl-color-primary-950: color-mix(
      in srgb,
      rgb(var(--secondary)) 0%,
      var(--black)
    );

    /* Fonts */
    --font-family-sans: Arial, sans-serif;

    --sl-font-sans: var(--font-family-sans);
  }
}

@layer components {
  .content {
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(80ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];
  }

  .content > * {
    grid-column: content;
  }
  .popout {
    grid-column: popout;
  }
  .feature {
    grid-column: feature;
  }
  .full {
    grid-column: full;
  }

  .link {
    border-bottom: 2px solid rgb(var(--secondary));
  }

  .link.active {
    color: rgb(var(--secondary));
  }

  .tag-link::part(base) {
    background: var(--sl-color-primary-50);
  }
  .tag-link::part(base):hover {
    background: var(--sl-color-primary-100);
  }

  [data-puck-component] .puck-rich-text-editor-wrapper * {
    pointer-events: auto;
  }

  .Puck,
  .Puck > div:not(#puck-portal-root) {
    height: 100%;
  }

  .inline-locale-selector::part(label) {
    padding-inline-start: var(--sl-spacing-2x-small);
    padding-inline-end: var(--sl-spacing-2x-small);
  }
}
